body {
  background: #f1f2f9;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: fit-content;
  margin: 0 auto;
}

label {
  margin-right: 10px;
}

button:active {
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: 0 0 0 0 transparent !important;
}
